# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
**/bin/
**/obj/

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Rider
*.sln.iml

# NuGet
**/packages/
*.nupkg